body {
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    
}


.GetInTheMiddleForGodSake {
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 128px;
    font-size: 100px;
    text-align: center;
}

main div {
    
    background-color: rgba(0, 0, 0, 0.733);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    height: 729px;
    width: 629px;
}