html {

    height: 100%;

}

body {

    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1024px;

}

header {
    height: 128px;
    font-size: 100px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.452);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {

    height: 400px;
    text-align: center;
    padding-top: 80px;
    

}

.gameButton {

    background-image: url(images/Game\ Thumbnail.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 1000px;

}

main button {

    width: 200px;
    height: 200px;

}

tr {

    /*margin-right: auto;
    margin-left: auto;*/

}

.button_wrapper {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

th {
    	
    /*padding-left: 15px;
    padding-right: 15px;*/
    width: 100px;

}

table {

    width: 100%;

}

table tbody {
    width: 100%;
    padding: 10px;
}

.essam {

    background-image: url(images/Essam.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

}

.giovanni {

    background-image: url(images/Giovanni.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.lucca {

    background-image: url(images/Lucca.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

footer {

    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.dotbuttons {

    background-color: yellow;
    border: solid;
    border: 10px;
    width: 100px;
    height: 100px;
    clip-path: circle(50% at 50% 50%);

}



.eightbit {

    font-family: fantasy;

}

.selection {

    background-color: orchid;

}

button:hover {

    background-color: rgba(255, 212, 131, 0.705);

}

button {
    border: 0;
}

.lvlbutton {
    background-color: orange;
    width: clamp(370px, 70%, 500px);
    height: 100px;
    border: 10px;
}

main table {
    padding-top: 100px;
}


/*MAIN PAGE*/
.main_wrapper {
    padding: 0px 10px;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.main_wrapper div img {
    width: clamp(100px, 80%, 350px);
    aspect-ratio: 9/8;
}

@media only screen and (max-width: 620px) {

    .eightbit {
        font-size: 14vw;
    }

    main {
        padding: 0;
        margin-top: -30px;
    }

    .main_wrapper {
        padding: 0px 0px;
        flex-direction: column;
    }

    .main_wrapper div img {
        aspect-ratio: 9/8;
        width: 30vw;
    }

    .mouse.mouse_img {
        margin-bottom: 10px;
        transform: rotate(90deg);
    }

    .main_wrapper div a button {
        font-size: 12px;
    }
}

.main_wrapper div a button {
    /*width: clamp(50px, 70%, 100px);*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 70px;
    max-width: 100px;
    width: 10vw;
    height: 10vw;
    min-height: 70px;
    max-height: 100px;
}
.main_wrapper div a {
    text-decoration: none;
}


.leftbutton {
    background-color: orange;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    height: 100px;
    width: 100px;
    border: 10px;
    
}

.rightbutton {
    background-color: orange;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    height: 100px;
    width: 100px;
    border: 10px;
    margin-right: auto;
}

.mapbg {
    background-image: url(images/Classic\ Map\ Generated.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.biggap {
    padding-left: auto;
    padding-right: auto;
}

.rleft:hover {
    src: url(images/Game\ Sprites/Singleplayer/Singleplayer-Red-Right.png);
}

.pdown:hover {
    src: url(images/Game\ Sprites/Multiplayer/Multiplayer-Pink-Up.png);
}

.bright:hover {
    src: url(images/Game\ Sprites/Singleplayer/Singleplayer-Blue-Left.png);
}